<div class="hu-home">
  <%- include('./sections/hero') %>
  <%- include('./sections/role-paths') %>
  <%- include('./sections/capabilities') %>
  <%- include('./sections/learning') %>
  <%- include('./sections/faq') %>
  <%- include('./sections/updates') %>
</div>
